* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #016f32;
    color: #ffffff;
    font-size: x-large;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}

#message-elem {
    font-style: italic;
}

button {
    width: 15rem;
    background-color: goldenrod;
    color: #016f32;
    padding: 0.7rem 0;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 0.1rem;
    margin: 2px 0;
    user-select: none;
}
